extends layout.pug

block content

  include includes/nav.pug

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        #about-head
          #about-head-left.col-head 
          img(src="/static/images/about-profile.jpg" alt="Tom Bignall") 

          #about-head-right.col-head
            h1 Oh, hey there!

        //- Bio
        .about-bio

          p
            strong I'm Tom Bignall, a Front End Web Developer. Here is a little about me...
          p My journey hasn't been a standard one, I've had a career where I have managed teams, and taught in a classroom, as well as working in two different countries. Although, since picking up basic Web Design skills back in 2010, and then deciding to teach myself basic skills in JavaScript and Python programming languages, I have never looked back. 
          p In 2021 I completed team treehouses' awesome full-stack JavaScript techdegree to give me all the skills I need to be successful in the tech industry. I currently work for a tech company in the UK as a web developer who concentrates on improving all aspects of our websites. From refactoring old code, improving accessibility for others and over all user experience.  
          p Outside of building cool things, I like to play sports, and I am an avid football nut. I love spending time with my family, and playing with Dinosaurs, Lego, and Construction Vehicles. Did I mention? My family includes a 5 year old.


      .skills-contact-box.box
        h6 Skills and Languages 
        br
        span Most Experience in...
        ul
          li HTML
          li CSS 
          li JavaScript
        span Experience in...
        ul
          li Python
          li PHP
          li React
          li Bootstap
          li Node.js
          li Git
          li Marketo
        span Dabbled in...
        ul
          li Express
          li Pug
          li SQL
          li C#
          

        h6 Contact Me
        .contactBox
          a.btn-link(href='mailto:bignallt@gmail.com') bignallt@gmail.com
          a.btn-link(href='tel:07704147728') 07704147728

          .social-skills
            a(href="https://github.com/bignallt07" target="_blank")
              i.fab.fa-github
            a(href="https://www.linkedin.com/in/tombignall/" target="_blank")
              i.fab.fa-linkedin

    nav.nav
      a(href='/')
        span &larr;
        |  Back Home