extends layout.pug

block content 

    .error-page 
        .error-container
            h2 #{message}

            h2 Error Code: #{status}

            if error.status === 500
                h3 There was an internal server error
            else
                h3 There is an error loading this page.

            p Details: 

            div.stack= error.stack

            a(href='/').error-button Take me back home!

    nav.nav
      a(href='/')
        span &larr;
        |  Back Home