extends layout.pug

block content
  //- Intro Article
  article.portfolio-intro

    h1 Oh, Hey There!

    p Welcome to my Portfolio. My name is Tom Bignall, and I am a Front-End Web Developer. Throughout this portfolio you will see examples of my programming journey and see exactly what I can bring to any project. I am a lover of JavaScript and my goal is to just keep learning more and getting better! 

  //- Project Thumbnails
  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects
        .cell
          a(href=`../projects/${project.id}`)
            img.thumbnail(src=`/static/images/${project.image_urls[0][0]}`, alt='Thumbnail: #{project.image_urls[0][1]}')
            h5 #{project.project_name}

    //- Additional Section
    div.index-footer
      h4 Upcoming Projects 
      p Stay tuned, over the next few weeks I will be uploading more projects showing off skills with React, SQL and API's
