<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    //- Start of Sidebar
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile-pic.jpg', alt='Photo of Tom Bignall')
        .dev-intro-box

          span.firstName Tom 
          span.lastName Bignall

          h3 Front End Web Developer

          div.social-sidebar 
            a(href="mailto:bignallt@gmail.com")
              i.far.fa-envelope
            a(href="tel:503-502-1857")
              i.fas.fa-phone-square-alt
            a(href="https://github.com/bignallt07")
              i.fab.fa-github
            a(href="https://www.linkedin.com/in/tombignall/")
              i.fab.fa-linkedin

          //- a(href='/about') Learn More &rarr;

          .sidebarMenu 
            span Menu
            a(href="/") Home
            a(href="/about") About Me
            a(href="/projects/0") Projects
    //- End of Sidebar

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Note: From Mobile Layout
          span Menu

          span.menuName Tom Bignall

      block content

  script(src='/static/js/script.js')
  script(src="https://kit.fontawesome.com/076ce7faaa.js" crossorigin="anonymous")