<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="robots" content="noindex")
    title Brolly Sweepstakes 2024
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/sweepstakes.css')

  body

    block content

      #container
        #intro
          h1 Brolly Sweepstakes 2024
          p Welcome to the 2024 Brolly Sweepstakes! On this very minimal website you will see the video draw and the tournament groups (the names will be released on Friday 14th June after everyone has had a chance to watch the video). This site will be updated at the end of every round of fixtures as I haven't got time to update otherwise. 
          p 
            strong Good luck everyone!
        
        #video
          h2 Brolly Sweepstakes 2024 Draw
          #video
            iframe(width='560', height='315', src='https://www.youtube.com/embed/HmmIx2HBhNI?si=_K6F1PRDb6feQ-J-', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share', referrerpolicy='strict-origin-when-cross-origin', allowfullscreen='')

        #knockout-round 

          #quarter-final 
            h2 Quarter Finals 
              .game
                p Hads v Pete
              .game 
                p Collins v Tom
              .game
                p Jon v Wayne
              .game
                p Nick v Ben H.

          #last-16 
            h2 Last 16
            .game
              p Wayne v Jubb
            .game 
              p Pete v Ben A.
            .game
              p Jon v Hads 
            .game 
              p Hads v Ash 
            .game 
              p Tom v Damo 
            .game 
              p Collins v Damo 
            .game 
              p Ash v Ben H.
            .game 
              p Jubb v Nick

          #quarter-final 

          #semi-final 

          #final
        
        #tables
          h2 Tables
          
          h3.group-title Group A
          table#group-a.group
            tr
              th Flag 
              th Country 
              th Name 
              th Points
            tr#qualified
              td 
                img(src='/static/images/sweep-images/germany-flag-icon.png' width="50px")
              td Germany
              td Pete Lamb
              td 7
            tr#qualified 
              td
                img(src='/static/images/sweep-images/switzerland-flag-icon.png' width="50px")
              td Switzerland
              td Wayne Cooper
              td 5
            tr 
              td 
                img(src='/static/images/sweep-images/hungary-flag-icon.png' width="50px")
              td Hungary
              td Nick Miller
              td 3
            tr 
              td 
                img(src='/static/images/sweep-images/scotland-flag-icon.png' width="50px")
              td Scotland
              td Jon Timm
              td 1
            
          
          h3.group-title Group B
          table#group-b.group
            tr
              th Flag 
              th Country 
              th Name 
              th Points
            tr#qualified 
              td
                img(src='/static/images/sweep-images/spain-country-flag-icon.png' width="50px")
              td Spain
              td Hads Johnson-Harvey
              td 9
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/italy-flag-icon.png' width="50px")
              td Italy
              td Steven Jubb
              td 4
            tr 
              td 
                img(src='/static/images/sweep-images/croatia-flag-icon.png' width="50px")
              td Croatia
              td Tom Bignall
              td 2
            tr 
              td 
                img(src='/static/images/sweep-images/albania-flag-icon.png' width="50px")
              td Albania
              td Wayne Cooper
              td 1

          h3.group-title Group C
          table#group-c.group
            tr
              th Flag 
              th Country 
              th Name 
              th Points
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/england-flag-icon.png' width="50px")
              td England
              td Jon Timm
              td 5
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/denmark-flag-icon.png' width="50px")
              td Denmark
              td Ben Alvey
              td 3
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/slovenia-flag-icon.png' width="50px")
              td Slovenia 
              td Damion Clay
              td 3
            tr 
              td 
                img(src='/static/images/sweep-images/serbia-flag-icon.png' width="50px")
              td Serbia
              td James Collins
              td 2

          h3.group-title Group D
          table#group-d.group
            tr
              th Flag 
              th Country
              th Name 
              th Points
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/austria-flag-icon.png' width="50px")
              td Austria
              td Ash Wainwright
              td 6
            tr#qualified 
              td
                img(src='/static/images/sweep-images/france-flag-icon.png' width="50px")
              td France
              td Tom Bignall
              td 5
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/netherlands-flag-icon.png' width="50px")
              td Netherlands
              td Nick Miller
              td 4
            tr 
              td 
                img(src='/static/images/sweep-images/poland-flag-icon.png' width="50px")
              td Poland
              td Ben Alvey
              td 1
            

          h3.group-title Group E
          table#group-e.group
            tr
              th Flag 
              th Country 
              th Name 
              th Points
            tr#qualified
              td 
                img(src='/static/images/sweep-images/romania-flag-icon.png' width="50px")
              td Romania
              td Steven Jubb
              td 4
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/belgium-flag-icon.png' width="50px")
              td Belgium              
              td Damion Clay
              td 4
            tr#qualified 
              td
                img(src='/static/images/sweep-images/slovakia-flag-icon.png' width="50px")
              td Slovakia
              td Hads Johnson-Harvey
              td 4
            tr 
              td 
                img(src='/static/images/sweep-images/ukraine-flag-icon.png' width="50px")
              td Ukraine
              td Ben Hodge
              td 4

          h3.group-title Group F
          table#group-f.group
            tr
              th Flag 
              th Country 
              th Name 
              th Points
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/portugal-flag-icon.png' width="50px")
              td Portugal
              td James Collins
              td 6
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/turkey-flag-icon.png' width="50px")
              td Turkey
              td Ben Hodge
              td 6
            tr#qualified 
              td 
                img(src='/static/images/sweep-images/georgia-flag-icon.png' width="50px")
              td Georgia
              td Ash Wainwright
              td 4
            tr 
              td 
                img(src='/static/images/sweep-images/czech-republic-flag-icon.png' width="50px")
              td Czech Republic
              td Pete Lamb
              td 1

        #footer 
          p As a professional web developer I would prefer not to be judged on this monstrosity. If you would like to see my actual work (still a bit old), you can visit my website here:
          p 
            a(href='/') 
              span &larr; Main Site
            

  
          
            
              